<a href="https://colab.research.google.com/github/aanuorioke/Hamoye1/blob/master/Aanuoluwapo_Orioke_Stage_B_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import necessary packages
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
energy_data = pd.read_csv(url, error_bad_lines=False)

energy_data.head(5)

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
energy_data = energy_data.drop(['date', 'lights'], axis=1)

In [ ]:
#normalize the data using min-max scaler
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalized_energy_data = pd.DataFrame(scaler.fit_transform(energy_data), columns=energy_data.columns)
features_energy_data = normalized_energy_data.drop(columns=['Appliances'])
target = normalized_energy_data['Appliances']

In [ ]:
#Simple LR
features_simple = energy_data['T2'].values.reshape(-1, 1)
target_simple = energy_data['T6']

from sklearn.model_selection import train_test_split
x_train1, x_test1, y_train1, y_test1 = train_test_split(features_simple, target_simple,
                                                    test_size=0.3, random_state=42)

In [ ]:
reg_simple = LinearRegression()
reg_simple.fit(x_train1, y_train1)
pred_simple = reg_simple.predict(x_test1)

In [ ]:
#r-squared simple regression
from sklearn.metrics import r2_score
r2_score_simple = r2_score(y_test1, pred_simple)
round(r2_score_simple, 2)

0.64

In [ ]:
#split data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_energy_data, target,
                                                    test_size=0.3, random_state=42)

#train the model
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit the model
linear_model.fit(x_train, y_train)
#predict
pred = linear_model.predict(x_test)

In [ ]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, pred)
round(mae, 2)

0.05

In [ ]:
#RSS
rss = np.sum(np.square(y_test - pred))
round(rss, 2)

45.35

In [ ]:
#RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3)

0.088

In [ ]:
#coefficient of determination
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, pred)
round(r2_score, 2)

0.15

In [ ]:
#comparing the effects of regularization
def get_weights_df(model, feat, col_name):
    '''returns the weight of all the features in the daataset

    Args: 
        model: the trained models
        feat: the train data (x_train)
        col_name: name of the new column
    Return: dataframe containing the weights of features
    '''
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [ ]:
#ridge regression L2
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
pred_ridge = linear_model.predict(x_test)

In [ ]:
#RMSE Ridge
from sklearn.metrics import mean_squared_error
rmse_ridge = np.sqrt(mean_squared_error(y_test, pred_ridge))
round(rmse, 3)

0.088

In [ ]:
#Lasso L1 regression
from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
pred_lasso = linear_model.predict(x_test)

lasso_weights = get_weights_df(lasso_reg, x_train, 'Lasso_Weight')
lasso_weights

       Features  Lasso_Weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [ ]:
#RMSE lasso
from sklearn.metrics import mean_squared_error
rmse_lasso = np.sqrt(mean_squared_error(y_test, pred_lasso))
round(rmse, 3)

0.088